@model MVCstok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="30"/>
    </div>
    <div>
        <label>Ürün Markası</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Buraya markayı yazınız" required=""/>
    </div>
    <div>
        <label>Ürün Kategorisi</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
    </div>
    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" required=""/>
    </div>
    <div>
        <label>Ürün Stoku</label>
        <input type="text" class="form-control" name="STOK" required=""/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

